div {
    /* border: 1px solid gray; */
}

#container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid gray;
    /* background-color: black; */

}

.btn_gridres {
    margin-bottom: 15px;
}